<style>
    table,th,td{
        border: 2px solid black;
        border-collapse: collapse;
        padding: 8px;
    }
</style>


<h1>Update Product</h1>
<form action="{{ path('update_product',{id:product.id})}}" method="post">
    <div>
        <label for="name">
            <input type="text" id="name" name="name" value="{{ product.name }}"  required>
        </label>
    </div>
    <div>
        <label for="date">
            <input type="datetime-local" id="date" name="dateOfProduction" required>
        </label>
    </div>
    <button type="submit">Apply</button>

</form>